.cartProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
    margin-bottom: 1em;
}
.heading{
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    margin-bottom: 1em;
    
}
.heading div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.product div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.productCart{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid purple;
    margin-bottom: 1em;
    
}
.productCart :first-child{
    width:75%;
}

.symbol{
    width: 28px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    padding-top: 2px;
    line-height: 1;
}
.value{
    width: 20px;
    padding-left: 5px;
    margin: 0 6px;
}